@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'MSGothic';
  src: url('./assets/fonts/MS Gothic Font.ttf') format('truetype'); 
  font-weight: normal;
  font-style: normal;
}

:root {
  --background-color: black;
  --text-color: white;
  --accent: #EA9AE5;
}

.light-mode {
  --background-color: white;
  --text-color: black;
}

@layer base {
  html, body {
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  body {
    font-size: 13px;
    width: 600px;
    margin: auto;
    margin-top: 20vh;
    font-family: 'MSGothic', monospace, sans-serif;
    margin-bottom: 20vh;
    line-height: 1.25em;
    color: var(--text-color);
    position: relative;
    background-color: var(--background-color);
  }

  body main {
    position: relative;
    z-index: 2;
  }

  body a {
    color: var(--accent);
  }

  body .thread {
    color: var(--accent);
    text-decoration: none;
  }

  body .thread:hover {
    text-decoration: underline;
  }

  body hr {
    border: none;
    text-align: center;
    color: var(--text-color);
  }

  body hr::before {
    content: "✦ . 　⁺ 　 . ✦ . 　⁺ 　 . ✦";
    display: inline-block;
    margin-right: 10px;
  }

  body p:not(:nth-child(2)) {
    margin-top: 30px;
  }

  body p:nth-child(2) {
    margin-top: 0px;
  }

  body h3:first-child {
    margin-bottom: 5px;
  }

  body h4 {
    margin-top: 30px;
  }

  body h5 {
    margin: 0px;
    font-weight: 100;
  }

  body ul, body ol {
    list-style: none;
    padding-left: 0;
  }

  body li::before {
    content: "> ";
    color: var(--text-color);
  }

  .light-mode body hr {
    color: black;
  }

  .light-mode body li::before {
    color: black;
  }
}

@media only screen and (max-width: 650px) {
  body {
    width: 90vw !important;
  }

  #arona {
    display: none;
  }

  #text {
    display: none;
  }
}