@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #000000;
  --foreground: #ededed;
  --accent: #ca9ae5;
}

html.light-mode {
  --background: #ffffff;
  --foreground: #000000;
  --accent: #ca9ae5;
}

html.dark-mode {
  --background: #000000;
  --foreground: #ededed;
  --accent: #ca9ae5;
}

@layer base {
  html, body {
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  body {
    font-family: var(--font-akkurat-mono);
    background-color: var(--background);
    color: var(--foreground);
  }

  h1, h2, h3 {
    font-family: var(--font-scientifica);
  }

  .font-scientifica {
    font-family: var(--font-scientifica);
  }

  .font-akkurat {
    font-family: var(--font-akkurat-mono);
  }

  .font-creep {
    font-family: var(--font-creep);
  }

  .font-garmin {
    font-family: var(--font-garmin);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ededed;
  }
}

body {
  font-size: 13px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2px;
  padding-right: 2px;
  padding-top: 20vh;
  position: relative;
  min-height: 100vh;
}

body hr {
  border: none; 
  text-align: center; 
  color: white;
  content: "✦ . 　⁺ 　 . ✦ . 　⁺ 　 . ✦"; 
}

body hr::before {
  content: "✦ . 　⁺ 　 . ✦ . 　⁺ 　 . ✦"; 
  display: inline-block;
  margin-right: 10px; 
}

body ul, body ol {
  list-style: none;
  padding-left: 0;
}

body li::before {
  content: ">";
  margin-right: 0.5em;
}

body a:hover:not(.nav-link) {
  text-decoration: underline;
}

/* .terminal-box {
  position: relative;
  margin: 20px auto;
  max-width: 800px;
  padding: 20px 20px; 
  box-sizing: border-box;
  background-color: #000;
  color: #fff; 
}

.terminal-box::before,
.terminal-box::after {
  content: " ";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: #ca9ae5;
  font-size: 0.8rem;
}

.terminal-box::before {
  content: "╭────── · · ୨୧ · · ──────╮";
  top: -20px;
}

.terminal-box::after {
  content: "╰────── · · ୨୧ · · ──────╯";
  bottom: -20px;
}

.inner-content {
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
.terminal-box::before {
  content: "╭────── · · ୨୧ · · ──────╮";
  top: -20px;
}

*/